﻿@model OrderPageViewModel
@{
    ViewData["Title"] = "Order Page";
}
<div class="text-center">
    <img src="~/img/logo_big.jpg" />
</div>
<h3 class="alert-success">@ViewBag.Message</h3>
<h2>
    Order History
    <a class="btn btn-lg btn-primary" style="float:right; margin-bottom: 10px;" asp-controller="Home" asp-action="Index"> Countinue Shoping </a>
</h2>

<br />
@if (Model.PastOrders.Any())
{
    <h2>Order Histrory</h2>

    <table class="table">
        <thead>
            <tr>
                <th>S. No</th>
                <th>Item Count</th>
                <th>Order Date</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.PastOrders.Count(); i++)
            {
                <tr>
                    <td>
                        (@(i +1))
                    </td>
                    <td>
                        @Model.PastOrders.ToList()[i].TotalItems
                    </td>
                    <td>
                        @Model.PastOrders.ToList()[i].PlacesOn
                    </td>
                    <td>
                        @Model.PastOrders.ToList()[i].TotalPrice
                    </td>
                    <td><a asp-action="Details" asp-route-id="@Model.PastOrders.ToList()[i].Id">View</a></td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <h3>No Order Till Now.</h3>
}
