﻿@model OrderPageViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}
<div class="text-center">
    <img src="~/img/logo_big.jpg" />
</div>
<h3 class="alert-success">@ViewBag.Message</h3>
<h2>
    Shopping Cart
    <a class="btn btn-lg btn-primary" style="float:right; margin-bottom: 10px;" asp-controller="Home" asp-action="Index"> Countinue Shoping </a>
</h2>
@if (Model.Cart.Order.Products.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart.Order.Products)
            {
                <tr>
                    <td>
                        <div>
                            <img width="100" style="float:left" src="@item.Image" />
                            <b>@item.Name</b>: <span> @item.Description</span>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesPrice)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Total Items: @Model.Cart.Order.TotalItems
                </td>
                <td>
                    @Model.Cart.Order.TotalPrice
                </td>
                <td>
                    <form asp-action="PlaceOrder" method="post">
                        <button class="btn btn-primary"> Place Order </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
}
else
{
    <span>
        Your cart is empty!
    </span>
}
<br />
<br />
@if (Model.PastOrders.Any())
{
<div class="text-center">
    <a asp-controller="Order" asp-action="Index">View Past Order</a>
</div>
}
