﻿@model IEnumerable<Web.Core.Dtos.ProductDto>
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <img src="~/img/logo_big.jpg" />
</div>
@if (ViewData["Message"] != null)
{
    <h3 class="alert-danger">@ViewData["Message"]</h3>
}
<h2>Products</h2>
<form asp-controller="Home" asp-action="PostIndex" method="post">
    <input name="search" class="form-control" type="text" placeholder="Search" value="@ViewBag.Search" aria-label="Search" style="padding: 10px; margin-bottom: 10px; width: 80%; display: inline; ">
    <button class="btn btn-primary" type="submit" style="width: 206px; margin-bottom: 5px;"> Search </button>
</form>
@if (Model != null && Model.Count() > 0)
{
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card">
                <img class="card-img-top" src='@item.Image' onerror='this.src="/img/Default_Image_Thumbnail.png"' style="width:100%; max-height:400px; min-height:350px">
                <div class="card-body">
                    <h4 class="card-title ellipse-h2">@item.Name</h4>
                    <span>Price: $ @item.SalesPrice</span>
                    <div class="card-text ellipse-span">@item.Description</div>
                    <form asp-controller="Home" asp-action="AddItemToCart" method="post">
                        <input name="productId" value="@item.Id" type="text" style="visibility:hidden" />
                        <input name="search" type="text" value="@ViewBag.Search" style="visibility:hidden">
                        <button class="btn btn-primary" type="submit" style="width: 206px; margin-bottom: 5px;">Add to Cart</button>
                    </form>
                </div>
            </div>
        }
    </div>
}
else
{
    <br />
    <h3>Sorry! No Product Found</h3>
    <span><i>Please search product with more generic term!</i></span>
    <hr />
}
